ul
  li
      a(href='/')
        i.fa.fa-space-shuttle.fa-fw
        span Home
  li
      a(href='/about')
          i.fa.fa-umbrella.fa-fw
          span About
  li
      a(href='/faq')
          i.fa.fa-taxi.fa-fw
          span FAQ
  li
    a(href='/aliens')
      i.fa.fa-user-secret.fa-fw
      span Alien List
  li
    a(href='aliens/new')
      i.fa.fa-users.fa-fw
      span Add Alien
