div
  div.row
      div.col-sm-2
        a(href='/')
          i.fa.fa-space-shuttle.fa-fw
          span Home
      div.col-sm-2
        a(href='/about')
            i.fa.fa-umbrella.fa-fw
            span About
      div.col-sm-2
        a(href='/faq')
            i.fa.fa-taxi.fa-fw
            span FAQ
      div.col-sm-2
        a(href='/aliens')
          i.fa.fa-user-secret.fa-fw
          span Alien List
      div.col-sm-2
        a(href='aliens/new')
          i.fa.fa-users.fa-fw
          span Add Alien
