extends ../shared/template
block title
  h1 Add Alien
block content
    h2 Add New Alien
    .row
      .col-xs-6
        form(action='/aliens', method='post')
          .form-group
            label name
            input.form-control(type='text', name='name')
          .form-group
            label Photo
            input.form-control(type='text', name='photo')
          .form-group
            label Planet
            input.form-control(type='text', name='planet')
          .form-group
            button.btn.btn-primary(typr='submit') Submit
      .col-xs-6
